.timeline {
    position: relative;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
    color: #ffffff;
}

.timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    border-right: 2px dashed #c4d2e2;
    height: 100%;
    display: block;
}

.timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
}

.timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 31px;
    text-align: right;
    margin-right: 20px;
    color: #000000;
    font-size: 1.5rem;
}

.timeline-row .timeline-time small {
    display: block;
    font-size: .8rem;
    color: #8796af;
}

.timeline-row .timeline-content {
    position: relative;
    padding: 20px 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.timeline-row .timeline-content:after {
    content: "";
    position: absolute;
    top: 20px;
    height: 3px;
    width: 40px;
}

.timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -50px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 100;
    background: #ffffff;
    border: 2px dashed #c4d2e2;
}

.timeline-row .timeline-content h4 {
    margin: 0 0 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 150%;
}

.timeline-row .timeline-content p {
    margin-bottom: 30px;
    line-height: 150%;
}

.timeline-row .timeline-content i {
    font-size: 2rem;
    color: #ffffff;
    line-height: 100%;
    padding: 10px;
    border: 2px solid #ffffff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    display: inline-block;
}

.timeline-row .timeline-content .thumbs {
    margin-bottom: 20px;
}

.timeline-row .timeline-content .thumbs img {
    margin-bottom: 10px;
}

.timeline-row:nth-child(even) .timeline-content {
    background-color: #00c1cf;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#65cdec), to(#4cadc9));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #65cdec, #4cadc9);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #65cdec, #4cadc9);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #65cdec, #4cadc9);
    /* IE10 */
    background-image: -o-linear-gradient(top, #65cdec, #4cadc9);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #65cdec, #4cadc9);
    margin-left: 40px;
    text-align: left;
}

.timeline-row:nth-child(even) .timeline-content:after {
    left: -39px;
    border-right: 18px solid #64cbea;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.timeline-row:nth-child(even) .timeline-content:before {
    left: -50px;
    right: initial;
}

.timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}

.timeline-row:nth-child(odd) .timeline-content {
    background-color: #5a99ee;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1379bb), to(#5a99ee));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #1379bb, #5a99ee);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #1379bb, #5a99ee);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #1379bb, #5a99ee);
    /* IE10 */
    background-image: -o-linear-gradient(top, #1379bb, #5a99ee);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #1379bb, #5a99ee);
    margin-right: 40px;
    margin-left: 0;
    text-align: right;
}

.timeline-row:nth-child(odd) .timeline-content:after {
    right: -39px;
    border-left: 18px solid #1379bb;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

@media (max-width: 767px) {
    .timeline {
        padding: 15px 10px;
    }
    .timeline:after {
        left: 28px;
    }
    .timeline .timeline-row {
        padding-left: 0;
        margin-bottom: 16px;
    }
    .timeline .timeline-row .timeline-time {
        position: relative;
        right: auto;
        top: 0;
        text-align: left;
        margin: 0 0 6px 56px;
    }
    .timeline .timeline-row .timeline-time strong {
        display: inline-block;
        margin-right: 10px;
    }
    .timeline .timeline-row .timeline-icon {
        top: 52px;
        left: -2px;
        margin-left: 0;
    }
    .timeline .timeline-row .timeline-content {
        padding: 15px;
        margin-left: 56px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        position: relative;
    }
    .timeline .timeline-row .timeline-content:after {
        right: auto;
        left: -39px;
        top: 32px;
    }
    .timeline .timeline-row:nth-child(odd) {
        padding-right: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-time {
        position: relative;
        right: auto;
        left: auto;
        top: 0;
        text-align: left;
        margin: 0 0 6px 56px;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin-right: 0;
        margin-left: 55px;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:after {
        right: auto;
        left: -39px;
        top: 32px;
        border-right: 18px solid #5a99ee;
        border-left: inherit;
    }
    .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
        left: 20px;
    }
    .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
        left: 0;
    }
}

/*--------------------------------------------------------------------*/

.main-timeline{
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: 45%;
    margin: 0 10px 15px 0;
    float: left;
}
.main-timeline .timeline-content{
    color: #222;
    background: linear-gradient(to right,#d62053,#AF2850);
    text-align: center;
    padding: 25px 30px 30px;
    display: block;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before{
    content: '';
    background: #fff;
    border-radius: 40px 0 60px 0;
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    right: 10px;
    z-index: -1;
}
.main-timeline .timeline-icon{
    color: #fff;
    background: linear-gradient(125deg, #d62053 50%, #AF2850 51%);
    font-size: 25px;
    line-height: 50px;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 10px;
    left: 30px;
    z-index: 1;
    clip-path: polygon(100% 0, 100% 100%, 50% 80%, 0 100%, 0 0);
}
.main-timeline .title{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 7px;
}
.main-timeline .description{
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    float: right;
    margin: 0 0 30px 10px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:before{ border-radius: 0 40px 0 60px; }
.main-timeline .timeline:nth-child(even) .timeline-icon{
    left: auto;
    right: 30px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content{
    background: linear-gradient(to right,#fc8d44,#fc7114);
}
.main-timeline .timeline:nth-child(4n+2) .timeline-icon{
    background: linear-gradient(125deg, #fc8d44 39%, #fc7114 40%);
}
.main-timeline .timeline:nth-child(4n+3) .timeline-content{
    background: linear-gradient(to right,#1071b2,#0A5C96);
}
.main-timeline .timeline:nth-child(4n+3) .timeline-icon{
    background: linear-gradient(125deg, #1071b2 39%, #0A5C96 40%);
}
.main-timeline .timeline:nth-child(4n+4) .timeline-content{
    background: linear-gradient(to right, #3fb1ea,#3DA6DC);
}
.main-timeline .timeline:nth-child(4n+4) .timeline-icon{
    background: linear-gradient(125deg, #3fb1ea 39%, #3DA6DC 40%);
}
@media screen and (max-width:767px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        width: 100%;
        float: none;
        margin: 0 0 30px;
    }
}
@media screen and (max-width:567px){
    .main-timeline .title{ font-size: 18px; }
}
